.breadcrumbs {
    margin: 40px 0 20px 0;
   &__list{
    display: flex;
    justify-content: center;
    align-items: center;
   }
    &__item {
        padding-right: 12px;
        margin-right: 5px;
        position: relative;
        font-family: TTNorms;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #555555;
        &::after{
            position: absolute;
            content: '';
            background-image: url(../img/breadcrumbs/breadcrumbs-circol-icon.svg);
            width: 5px;
            height: 5px;
            bottom: 5px;
            right: 0;
        }
        &:last-child::after{
            display: none;
        }
         &--active{
        font-family: TTNorms;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #111111;
        position: relative;
        padding-left: 10px;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../img/breadcrumbs/breadcrumbs-arrow-icon.svg);
            width: 5px;
            height: 10px;
            left: 0;
            bottom: 3px;
        }

    }
    }
    &__img-icon {
        width: 6px;
        height: 11px;
        margin: 4px 2px 0 0;
    }
    &__link {
    }
}
