.box-banner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px; 
    &__item1 {
        grid-column: 1 / 5;
        grid-row: 1 / 3;
        .box-banner__title {
            font-family: Forum, sans-serif;
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: 0.02em;
            color: #fff;
            width: 443px;
            height: 40px;
            margin-bottom: 4px;   
        }
        .box-banner__text {
            color: #fff;
            width: 443px;
            height: 52px;
            font-family: TTNorms;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 26px;
            text-align: center;
        }
        .box-banner__btn {
            padding: 13px 16px;
            background-color: #fff;
            display: inline-block;
        }
    }
    
    &__item2 {
        grid-column: 5;
        grid-row: 1;
        background-image: url('../img/banner/banner-2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 496px;
        height: 232px;
        height: 100%;
        position: relative;
    }
    &__item3 {
        grid-column: 5;
        grid-row: 2;
        background-image: url('../img/banner/banner-3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 496px;
        height: 232px;
        height: 100%;
        position: relative;
    }
    &__content{
        position: absolute;
        left: 20px;
        bottom: 20px;
        font-weight: 400;
        color: #F6F6F6;
    }
    &__content-title {
        font-family: Forum;
        font-size: 28px;
        line-height: 30px;
        letter-spacing: 0.01em;
        margin-bottom: 6px;
    }
    &__content-link {
        font-family: TTNorms;
        font-size: 16px;
        line-height: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        display: inline-block;
    }
}
.swiper {
        width: 100%;
        height: 100%;
      }
.swiper-slide {
    text-align: center;
}      

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    }
    .box-banner__container{
          position: absolute;
          z-index: 3;
          top: 50%;
          left: 50%;
        transform: translateX(-50%);
      }

    //   tabs
    .tabs{
        padding: 40px 0 60px 0;
        margin-bottom: 75px;
    }
    .tabs__inner{
        text-align: center;
        margin-bottom: 20px;
    }
    .tab__link{
        padding: 0 24px 15px 24px;
        font-family: TTNorms;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        border-bottom: 2px solid #E2E1DB;
    }
    .tab__link.tab--active{
        border-bottom: 2px solid #D9A95E;
    }

.product-tab__inner {
    width: 240px;
    min-height: 468px;
    .product-tab__favorite {
    }
    .product-tab__img {
        width: 240px;
        height: 318px;
        margin-bottom: 18px;
    }
    .product-tab__content{
        text-align-last: left;
    }
    .product-tab__switchs{
        margin-bottom: 20px;

    }
    .product-tab__switch1 {
        width: 16px;
        height: 16px;
        border: none;
        border-radius: 50%;
        background: #D96D5E;
        cursor: pointer;
        margin-right: 6px;
    }
    .product-tab__switch2 {
        width: 19px;
        height: 19px;
        border: 1px solid #111111;
        border-radius: 50%;
        background: #FFFFFF;
    }
    .product-tab__text {
        font-family: Forum;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.01em;
        color: #111111;
        margin-bottom: 20px;
    }
    .product-tab__price {
        font-family: TT Norms;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #111111;
    }
}
 .swiper-button-prev{
    margin-right: 50px;
    font-size: 30px;
    z-index: 20;
    padding: 10px;
    background-color: #fff;
    color: #000;
}
// information
.information {
    // padding: 60px 0;
    background-image: url('../img/information/information-bg.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 526px;
    position: relative;
    margin-bottom: 120px;
    &-content {
        position: absolute;
        z-index: 3;
        padding: 40px;
        background-color: #F6F6F6;
        width: 585px;
        height: 354px;
        margin: auto 35%;
        top: 16%;
        &__title {
            font-family: Forum;
            font-weight: 400;
            font-size: 28px;
            line-height: 30px;
            letter-spacing: 0.01em;
            color: #111111;
            margin-bottom: 5px;
        }
        &__text {
            font-family: TTNorms;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #555555;
            margin-bottom: 38px;
        }
        &__btn {
            padding: 13px 16px;
            background-color: #A77D57;
            color: #fff;
            border: none;
            font-family: TTNorms;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
            cursor: pointer;
            margin-right: 8px;
        }
        &__link {
            padding: 13px 16px;
            border: 1px solid #e2e1db;
            font-family: TTNorms;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #111111;
        }
    }
    &__img {
        position: absolute;
        height: 576px;
        bottom: 0;
        right: 25%;
        z-index: 1;
    }
}
// reviews
.reviews {
    margin-bottom: 120px;
}
.reviews__title {
    text-align: center;
    margin-bottom: 30px;
}
.title {
    font-family: Forum;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #111111;
}
.reviews-slider__box {
    width: 100%;
}
.swiper {
}
.review-slider {
    position: relative;
}
.swiper-wrapper {
}
.review-slider__item {
    padding: 16px;
    width: 270px;
    height: 363px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(178, 178, 223, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.review-slider__content{
    position: absolute;
    width: 238px;
    height: 331px;
    background: #C4C4C4;
    z-index: 2;
    margin: 0 auto;
}
.swiper-button-prev .review-slider{
}
.swiper-button-prev.review-slider::after {
    font-size: 20px;
    left: -40px;
    z-index: 5;
}
.swiper-button-next.review-slider::after {
}
.swiper-pagination {
}


    