:root{
    // color
    --cbf: #555555;
    --cbs: #111111;
    --ch: #A77D57;
    --white: #ffffff;

    // font-family
    --fftt: font-family: TTNorms;
    --fffr: font-family: Forum;

    // border
    --br: 1px solid #E2E1DB;
}